{% extends 'base.html' %}
{% load static %}
{% block body %}
<section id="special-price">
    <div class="container">
      <h4 class="font-rubik font-size-20 mt-5">Search Result:</h4>
      <br>

      {% if products %}

      {% for t in products %}
      <div class="grid block">
        <div class="grid-item Apple border">
        <div class="item py-2" style="width: 200px;">
          <div class="product font-rale">
            <a href="#"><img src="{{t.image.url}}" alt="product1" class="img-fluid"></a>
            <div class="text-center">
              <h6>{{t.p_name}}</h6>
              <div class="rating text-warning font-size-12">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
              <div class="price py-2">
                <span>${{t.price}}</span>
              </div>
              <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
            </div>
          </div>
        </div>
        {%endfor%}
        {% else %}
        <p>Your search item not found</p>
        {% endif %}
    </div>
</section>
{% endblock body %}